# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment variables
.env
frontend/.env
backend/.env

# Build outputs
dist/
frontend/dist/
backend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.bak
*.orig

# Postman / OS
*.postman_collection.json
